<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="1" value="STR_KEVLAR_ARCTIC"/>
    <add key="2" value="STR_KEVLAR_URBAN"/>
    <add key="3" value="STR_KEVLAR_JUNGLE"/>
    <add key="11" value="STR_TACTICAL_ARCTIC"/>
    <add key="12" value="STR_TACTICAL_URBAN"/>
    <add key="13" value="STR_TACTICAL_JUNGLE"/>    
  </appSettings>
</configuration>
